<main>

    <div class="header">
        <div class="title-with-description">
            <h1>Acompanhamento de Sinistro - Vida</h1>
            <span class="description">Selecione a forma de busca para ver mais detalhes do sinistro.</span>
        </div>

        <div class="help">
            <img class="icon-margin" src="../../../assets/icons/help.svg" alt="">
            <div>Tutorial</div>
        </div>
    </div>

    <div class="search">

        <div class="type">
            <app-custom-multiple-select class="gender" [bordered]="true" [options]="searchTypes"
                [label]="'Tipo de pesquisa'" [type]="'SELECT'">
            </app-custom-multiple-select>
        </div>

        <div class="form-item bordered term-search" [ngClass]="{'label-active': cpfCnpjCliente}">
            <label for="cpfCnpj">CPF do assegurado</label>
            <input type="text" [(ngModel)]="cpfCnpjCliente" name="cpfCnpj">
        </div>

        <button (click)="search()" class="primary-btn">Pesquisar</button>
    </div>

    <!-- Results -->
    <app-results-follow-up [showResults]="showResults" *ngIf="showResults"></app-results-follow-up>

    <div class="no-results">
        <img src="../../../../assets/icons/lupa.svg" alt="">
        <div class="title">Nenhum resultado por aqui</div>
        <div class="subtitle">Utilize a pesquisa para exibir os resultados</div>
    </div>



</main>