<main>

    <div class="documents">
        <div class="header">
            <h3>Envio de documentos - Ocorrência</h3>
            <img (click)="close()" src="../../../assets/icons/close.svg" alt="">
        </div>
        <div class="description">Documentos com <span class="mandatory">*</span> são obrigatórios</div>

        <div class="beneficiary-data">
            <div class="item">
                <label for="">Nome</label>
                <div class="result">Fulano da Silva Correa Neto</div>
            </div>
            <div class="item">
                <label for="">Relacionamento</label>
                <div class="result">Esposo(a) / Companheiro(a)</div>
            </div>
            <div class="item">
                <label for="">Nascimento</label>
                <div class="result">22/01/1995</div>
            </div>
        </div>

        <table>
            <tr>
                <td>
                    <div class="content">
                        <div class="title">
                            Certidão de óbito <span class="mandatory">*</span>
                        </div>
                        <div class="button-attach">
                            <img class="icon-margin" src="../../../../assets/icons/attach.svg" alt="">
                            <span>Upload</span>
                        </div>
                    </div>

                </td>
            </tr>
            <tr>
                <td>
                    <div class="content">
                        <div class="title">
                            RG / CPF <span class="mandatory">*</span>
                        </div>
                        <div class="button-attach">
                            <img class="icon-margin" src="../../../../assets/icons/attach.svg" alt="">
                            <span>Upload</span>
                        </div>
                    </div>

                </td>
            </tr>
            <tr>
                <td>
                    <div class="content">
                        <div class="title">
                            Exame Necroscópico - IML
                        </div>
                        <div class="button-attach">
                            <img class="icon-margin" src="../../../../assets/icons/attach.svg" alt="">
                            <span>Upload</span>
                        </div>
                    </div>

                </td>
            </tr>
            <tr>
                <td>
                    <div class="content">
                        <div class="title">
                            Exame de Dosagem Alcoólica e Toxicológico - IML
                        </div>
                        <div class="button-attach">
                            <img class="icon-margin" src="../../../../assets/icons/attach.svg" alt="">
                            <span>Upload</span>
                        </div>
                    </div>

                </td>
            </tr>
            <tr>
                <td>
                    <div class="content">
                        <div class="document-info">
                            <div class="title">
                                CNH
                            </div>
                            <div class="description">Caso acidente de trânsito e segurado era condutor do veículo.</div>
                        </div>

                        <div class="button-attach">
                            <img class="icon-margin" src="../../../../assets/icons/attach.svg" alt="">
                            <span>Upload</span>
                        </div>
                    </div>

                </td>
            </tr>
            <tr>
                <td>
                    <div class="content">
                        <div class="title">
                            Boletim de Ocorrência
                        </div>
                        <div class="button-attach">
                            <img class="icon-margin" src="../../../../assets/icons/attach.svg" alt="">
                            <span>Upload</span>
                        </div>
                    </div>

                </td>
            </tr>
            <tr>
                <td>
                    <div class="content">
                        <div class="document-info">
                            <div class="title">
                                Certidão de Casamento
                            </div>
                            <div class="description">ou Escritura Pública de Convivência Marital.</div>
                        </div>

                        <div class="button-attach">
                            <img class="icon-margin" src="../../../../assets/icons/attach.svg" alt="">
                            <span>Upload</span>
                        </div>
                    </div>

                </td>
            </tr>
        </table>
    </div>

    <div class="buttons">
        <button (click)="close()" class="secondary-btn">
            <div>Cancelar</div>
        </button>
        <button (click)="next()" class="primary-btn">
            <div>Salvar documentos</div>
        </button>
    </div>

</main>