<main>

    <form [formGroup]="searchForm">

        <div class="search">
            <div class="inputs grid-template-areas">
                <div class="form-item bordered cpfCnpj"
                    [ngClass]="{'label-active': searchForm.get('cpfCnpjCliente').value}">
                    <label for="cpfCnpj">CPF/CNPJ</label>
                    <input type="text" mask="000.000.000-00||00.000.000/0000-00" formControlName="cpfCnpjCliente">
                </div>

                <!-- <app-custom-multiple-select class="custom-select" [options]="options" [type]="'SELECT'"
                    [label]="'Ocorrência'" (selectOptionEmitter)="optionSelected($event)">
                </app-custom-multiple-select> -->
                <div class="form-item bordered occurrence label-active">
                    <label for="occurrence">Ocorrência</label>
                    <select formControlName="occurrence" id="">
                        <option value="'Acidente'">Acidente</option>
                        <option value="'Doença'">Doença</option>
                        <option value="'Morte natural'">Morte natural</option>
                        <option value="'Morte acidental'">Morte acidental</option>
                        <option value="'Outros'">Outros</option>
                    </select>
                </div>
            </div>

            <div *ngIf="searchForm.get('cpfCnpjCliente').value && searchForm.get('occurrence').value">
                <div class="occurrence">
                    <h4>Ocorrência</h4>
                    <div class="options">
                        <div class="inputs grid-template-areas">
                            <!--  <div class="occurrenceType">
                            <app-custom-multiple-select class="custom-select" [options]="options" [type]="'SELECT'"
                                [label]="'O que está pleiteando?'" (selectOptionEmitter)="optionSelected($event)">
                            </app-custom-multiple-select>
                        </div> -->
                            <div class="form-item bordered occurrence label-active">
                                <label for="occurrenceType">O que está pleiteando?</label>
                                <select formControlName="occurrenceType" id="">
                                    <option value="">D.I.T. (Diárias por Incapacidade Temporaria)</option>
                                </select>
                            </div>
                            <div class="form-item bordered occurrenceDate label-active">
                                <label for="occurrenceDate">Data da ocorrência</label>
                                <input type="date" formControlName="occurrenceDate">
                            </div>
                            <div (click)="openDocuments()" class="info">
                                <img class="icon-margin" src="../../../assets/icons/help.svg" alt="">
                                <div>Confira os documentos necessários</div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="button">
                    <button (click)="search()" class="primary-btn">Pesquisar apólice</button>
                </div>
            </div>


            <!-- Results -->

            <app-results [showResults]="showResults" *ngIf="showResults"></app-results>

        </div>
    </form>
</main>