<main>
    <div class="close">
        <img (click)="close()" src="../../../assets/icons/close.svg" alt="">
    </div>
    <h1>Histórico do sinistro</h1>

    <div class="history">
        <div class="item">
            <div class="title-icon">
                <div class="clock-line">
                    <img class="clock" src="../../../../../../assets/icons/history-icon.svg" alt="">
                    <img class="line" src="../../../../../../assets/icons/line-history.svg" alt="">
                </div>
                <div class="title">Sinistro aberto</div>
            </div>
            <div class="date">31/12/2022 às 08:00</div>
        </div>
        <div class="item">
            <div class="title-icon">
                <div class="clock-line">
                    <img class="clock" src="../../../../../../assets/icons/history-icon.svg" alt="">
                    <img class="line" src="../../../../../../assets/icons/line-history.svg" alt="">
                </div>
                <div class="title">Em análise</div>
            </div>
            <div class="date">31/12/2022 às 08:00</div>
        </div>
        <div class="item">
            <div class="title-icon">
                <div class="clock-line">
                    <img class="clock" src="../../../../../../assets/icons/history-icon.svg" alt="">
                    <img class="line" src="../../../../../../assets/icons/line-history.svg" alt="">
                </div>
                <div class="title">Perícia médica em andamento</div>
            </div>
            <div class="date">31/12/2022 às 08:00</div>
        </div>
        <div class="item">
            <div class="title-icon">
                <div class="clock-line">
                    <img class="clock" src="../../../../../../assets/icons/history-icon.svg" alt="">
                    <img class="line" src="../../../../../../assets/icons/line-history.svg" alt="">
                </div>
                <div class="title">Pendência de documentação</div>
            </div>
            <div class="date">31/12/2022 às 08:00</div>
        </div>
        <div class="item">
            <div class="title-icon">
                <div class="clock-line">
                    <img class="clock" src="../../../../../../assets/icons/history-icon.svg" alt="">
                    <img class="line" src="../../../../../../assets/icons/line-history.svg" alt="">
                </div>
                <div class="title">Em análise</div>
            </div>
            <div class="date">31/12/2022 às 08:00</div>
        </div>
        <div class="item">
            <div class="title-icon">
                <div class="clock-line">
                    <img class="clock" src="../../../../../../assets/icons/history-icon.svg" alt="">
                    <img class="line" src="../../../../../../assets/icons/line-history.svg" alt="">
                </div>
                <div class="title">Em aprovação</div>
            </div>
            <div class="date">31/12/2022 às 08:00</div>
        </div>
        <div class="item">
            <div class="title-icon">
                <div class="clock-line">
                    <img class="clock" src="../../../../../../assets/icons/history-icon.svg" alt="">
                </div>
                <div class="title">Sinistro pago</div>
            </div>
            <div class="date">31/12/2022 às 08:00</div>
        </div>
    </div>
</main>