<main>
    <div class="close-icon">
        <img (click)="close()" src="../../../../assets/icons/close.svg" alt="">
    </div>

    <h1>Documentos necessários</h1>

    <h4>Consulte abaixo os documentos necessários para o aviso desse sinistro.</h4>

    <div class="description">Os documentos obrigatórios estão sinalizados com
        <span class="mandatory"> <span class="mandatory">*</span></span>.
    </div>

    <div class="list">
        <ul>
            <li> RG <span class="mandatory">*</span>; </li>
            <li> CPF <span class="mandatory">*</span>; </li>
            <li> Comprovante de residência em nome do segurado <span class="mandatory">*</span>; </li>
            <li> Relatório médico constando o período total de afastamento, CID, queixa principal e tratamento adotado
                <span class="mandatory">*</span>;
            </li>
            <li> Em caso de cirurgia, anexar cópia do resumo de alta hospitalar;</li>
            <li> Exames realizados que auxiliaram o diagnóstico;</li>
            <li> Outros documentos que auxiliem na avaliação. </li>
        </ul>
    </div>

    <hr>

    <div class="description">Baixe os modelos de documentos.</div>

    <button class="secondary-btn">
        <img class="icon-margin-r" src="../../../../assets/icons/download.svg" alt="">
        Modelo de Relatório Médico</button>
</main>