<main>
    <img src="../../../assets/icons/check.svg" alt="">
    <div class="large">
        Sinistro enviado com sucesso!
    </div>

    <div class="serial-number">
        <div>Nº 101712022001234 </div>
        <img src="../../../assets/icons/copy.svg" alt="">
    </div>

    <div class="text">
        <div>Agradecemos o envio dos documentos.</div>
        <div> Informamos que o assunto será tratado em até <b>15 dias</b>. </div>
    </div>

    <div class="text mt">
        SAC 0800-727-2746 (para cancelamento, reclamação e informações).
    </div>

    <div class="text mt">
        Central de Atendimento, de segunda a sexta-feira, das 08:15 às 18:30 nos números (11) 3366-3377 (Grande São
        Paulo), 0800-727-9393 (Demais localidades).
    </div>

    <button (click)="close()" class="primary-btn">Entendido</button>
</main>