<main>

    <div class="documents">
        <h3>Envio de documentos</h3>
        <div class="description">Os documentos obrigatórios estão sinalizados com <span class="mandatory">*</span>.
        </div>

        <table>
            <tr>
                <th class="d-flex">Nome do documento</th>
            </tr>
            <tr>
                <td>
                    <div class="content">
                        <div class="file-data">
                            <div class="title">
                                RG <span class="mandatory">*</span>
                            </div>
                            <div class="files">
                                <div class="file">
                                    <div class="file-name">scan-29-01-2023.pdf</div>
                                    <img class="margin-icon" src="../../../../assets/icons/trash.svg" alt="">
                                </div>
                                <div class="file">
                                    <div class="file-name">scan-29-01-2023.pdf</div>
                                    <img class="img-icon-r" src="../../../../assets/icons/trash.svg" alt="">
                                </div>
                            </div>
                        </div>

                        <div class="button-attach">
                            <img class="icon-margin" src="../../../../assets/icons/attach.svg" alt="">
                            <span>Anexar</span>
                        </div>
                    </div>

                </td>
            </tr>
            <tr>
                <td>
                    <div class="content">
                        <div class="file-data">
                            <div class="title">
                                CPF <span class="mandatory">*</span>
                            </div>
                            <div class="files">
                                <div class="file">
                                    <div class="file-name">scan-29-01-2023.pdf</div>
                                    <img class="margin-icon" src="../../../../assets/icons/trash.svg" alt="">
                                </div>
                                <div class="file">
                                    <div class="file-name">scan-29-01-2023.pdf</div>
                                    <img class="img-icon-r" src="../../../../assets/icons/trash.svg" alt="">
                                </div>
                            </div>
                        </div>

                        <div class="button-attach">
                            <img class="icon-margin" src="../../../../assets/icons/attach.svg" alt="">
                            <span>Anexar</span>
                        </div>
                    </div>

                </td>
            </tr>
            <tr>
                <td>
                    <div class="content">
                        <div class="file-data">
                            <div class="title">
                                Relatório médico constando o período total de afastamento, CID, queixa principal e
                                tratamento adotado <span class="mandatory">*</span>
                            </div>
                            <div class="files">
                                <div class="no-file"> Nenhum arquivo anexado.
                                </div>
                            </div>
                        </div>

                        <div class="button-attach">
                            <img class="icon-margin" src="../../../../assets/icons/attach.svg" alt="">
                            <span>Anexar</span>
                        </div>
                    </div>

                </td>
            </tr>
            <tr>
                <td>
                    <div class="content">
                        <div class="file-data">
                            <div class="title">
                                Comprovante de residência em nome do segurado <span class="mandatory">*</span>
                            </div>
                            <div class="files">
                                <div class="no-file"> Nenhum arquivo anexado.
                                </div>
                            </div>
                        </div>

                        <div class="button-attach">
                            <img class="icon-margin" src="../../../../assets/icons/attach.svg" alt="">
                            <span>Anexar</span>
                        </div>
                    </div>

                </td>
            </tr>  <tr>
                <td>
                    <div class="content">
                        <div class="file-data">
                            <div class="title">
                                Cópia do primeiro atendimento médico realizado junto a clínica ou hospital <span class="mandatory">*</span>
                            </div>
                            <div class="files">
                                <div class="no-file"> Nenhum arquivo anexado.
                                </div>
                            </div>
                        </div>

                        <div class="button-attach">
                            <img class="icon-margin" src="../../../../assets/icons/attach.svg" alt="">
                            <span>Anexar</span>
                        </div>
                    </div>

                </td>
            </tr>  <tr>
                <td>
                    <div class="content">
                        <div class="file-data">
                            <div class="title">
                                Boletim de ocorrência (se houver) <span class="mandatory">*</span>
                            </div>
                            <div class="files">
                                <div class="no-file"> Nenhum arquivo anexado.
                                </div>
                            </div>
                        </div>

                        <div class="button-attach">
                            <img class="icon-margin" src="../../../../assets/icons/attach.svg" alt="">
                            <span>Anexar</span>
                        </div>
                    </div>

                </td>
            </tr>  <tr>
                <td>
                    <div class="content">
                        <div class="file-data">
                            <div class="title">
                                Exames realizados que auxiliaram o diagnóstico <span class="mandatory">*</span>
                            </div>
                            <div class="files">
                                <div class="no-file"> Nenhum arquivo anexado.
                                </div>
                            </div>
                        </div>

                        <div class="button-attach">
                            <img class="icon-margin" src="../../../../assets/icons/attach.svg" alt="">
                            <span>Anexar</span>
                        </div>
                    </div>

                </td>
            </tr>  <tr>
                <td>
                    <div class="content">
                        <div class="file-data">
                            <div class="title">
                               Outros documentos <span class="mandatory">*</span>
                            </div>
                            <div class="files">
                                <div class="no-file"> Nenhum arquivo anexado.
                                </div>
                            </div>
                        </div>

                        <div class="button-attach">
                            <img class="icon-margin" src="../../../../assets/icons/attach.svg" alt="">
                            <span>Anexar</span>
                        </div>
                    </div>

                </td>
            </tr>
        </table>
    </div>

    <div class="buttons">
        <button (click)="cancel()" class="tertiary-btn">Cancelar</button>
        <button (click)="previous()" class="secondary-btn btn-icon">
            <img src="../../../assets/icons/back.svg" alt="">
            <div class="margin-icon">Anterior</div>
        </button>
        <button (click)="next()" class="primary-btn btn-icon">
            <div>Próximo</div>
            <img class="margin-icon" src="../../../assets/icons/next.svg" alt="">
        </button>
    </div>

</main>