<main>
    <h1>Mensagens</h1>

    <div class="assunto">Assunto</div>

    <h3>Solicitação de documento</h3>

    <div class="main-card">
        <h5>14/01/2023 - Enviada por você</h5>
        <div class="title mt-16">Mensagem</div>
        <div class="value">
            Olá, estou entrando em contato porque recentemente houve um incidente na propriedade do meu cliente e estou
            preocupado com a possibilidade de um sinistro patrimonial. Gostaria de saber quais são os procedimentos que
            devo seguir para informar a seguradora sobre o ocorrido e o que é necessário para iniciar o processo de
            indenização. Além disso, gostaria de entender quais são os critérios para avaliação dos danos e qual é o
            prazo para o recebimento da indenização. Qualquer informação adicional que você puder me fornecer sobre
            sinistro patrimonial seria muito útil. Obrigado
        </div>
    </div>

    <div class="main-card">
        <h5>15/01/2023 - Resposta da Porto</h5>
        <div class="title mt-16">Mensagem</div>
        <div class="value">
            Prezado corretor,
            Ao reportar o sinistro, você deverá fornecer informações detalhadas sobre o incidente e os danos causados à
            sua propriedade. Em seguida, iremos avaliar a situação e realizar uma vistoria técnica para avaliar os danos
            e determinar o valor da indenização a ser paga.
            O prazo para o recebimento da indenização varia de acordo com a complexidade do sinistro e o tempo
            necessário para avaliar os danos. No entanto, nossa equipe está empenhada em realizar todo o processo de
            maneira ágil e transparente.
            Esperamos ter ajudado a esclarecer suas dúvidas. Se você tiver mais perguntas ou precisar de ajuda
            adicional, não hesite em entrar em contato conosco novamente. Atenciosamente,<br>
            Ana Cavali
        </div>
    </div>

    <button (click)="reply()" class="primary-btn">
        <img class="" src="../../../../assets/icons/arrow-answer.svg" alt="">
        <div class="text">RESPONDER</div>
    </button>
</main>