<main>
    <div class="main-card">
        <h4>Dados do Segurado</h4>
        <div class="info">
            <div class="item">
                <div class="title">CPF</div>
                <div class="item-value">988.765.432-00</div>
            </div>
            <div class="item">
                <div class="title">Nome</div>
                <div class="item-value">Fulano da Silva Correa Neto</div>
            </div>
            <div class="item">
                <div class="title">Nascimento</div>
                <div class="item-value">28/01/1995</div>
            </div>
            <div class="item">
                <div class="title">Cliente desde</div>
                <div class="item-value">17/04/2018</div>
            </div>
            <div class="item">
                <div class="title">Último endosso de aumento de capital</div>
                <div class="item-value">07/10/2020</div>
            </div>
        </div>
    </div>

    <div class="main-card">
        <h4>Detalhes da apólice</h4>
        <div class="info">
            <div class="item">
                <div class="title">Sucursal</div>
                <div class="item-value">0171</div>
            </div>
            <div class="item">
                <div class="title">Ramo</div>
                <div class="item-value">001</div>
            </div>
            <div class="item">
                <div class="title">Apólice</div>
                <div class="item-value">070000254-0</div>
            </div>
            <div class="item">
                <div class="title">Início vigência</div>
                <div class="item-value">15/06/2022</div>
            </div>
            <div class="item">
                <div class="title">Fim vigência</div>
                <div class="item-value">15/06/2023</div>
            </div>
            <div class="item">
                <div class="title">Estipulante</div>
                <div class="item-value">Lorem Ipsum</div>
            </div>
            <div class="item">
                <div class="title">Sub-estipulante</div>
                <div class="item-value">Lorem Ipsum</div>
            </div>
            <div class="item">
                <div class="title">Item</div>
                <div class="item-value">Lorem Ipsum</div>
            </div>
        </div>
        <div class="info mt-16">
            <div class="item">
                <div class="title">Cobertura</div>
                <div class="item-value">Lorem Ipsum</div>
            </div>
            <div class="item">
                <div class="title">Valor da cobertura</div>
                <div class="item-value">R$ 100.000,00</div>
            </div>
        </div>
    </div>

    <div class="main-card">
        <h4>Detalhes da ocorrência</h4>
        <div class="info">
            <div class="item">
                <div class="title">Ocorrência</div>
                <div class="item-value">Morte Natural</div>
            </div>
            <div class="item">
                <div class="title">Pessoa da ocorrência</div>
                <div class="item-value">Esposa(o) / Companheira(o)</div>
            </div>
            <div class="item">
                <div class="title">Data da ocorrência</div>
                <div class="item-value">31/12/2022</div>
            </div>
        </div>
        <div class="info mt-16">
            <div class="item">
                <div class="title">Sinistro aposentado?</div>
                <div class="item-value">Sim</div>
            </div>
            <div class="item">
                <div class="title">Motivo da aposentadoria</div>
                <div class="item-value">Tempo de serviço</div>
            </div>
            <div class="item">
                <div class="title">Aposentado desde</div>
                <div class="item-value">22/12/2022</div>
            </div>
            <div class="item">
                <div class="title">Anos de serviço</div>
                <div class="item-value">35 anos</div>
            </div>
            <div class="item">
                <div class="title">Sinistrado afastado nos últimos 3 anos?</div>
                <div class="item-value">Sim</div>
            </div>
        </div>
        <table class="mt-16">
            <tr>
                <th class="d-flex align-items-center">
                    <div>Início afastamento</div>
                    <img class="img-icon" src="../../../assets/icons/arrow-down.svg" alt="">
                </th>
                <th class="d-flex align-items-center">
                    <div>Fim afastamento</div>
                    <img class="img-icon" src="../../../assets/icons/arrow-down.svg" alt="">
                </th>
                <th class="d-flex">Motivo</th>
            </tr>
            <tr>
                <td>15/06/2022</td>
                <td>15/06/2022</td>
                <td>Lorem Ipsum</td>
            </tr>
            <tr>
                <td>15/06/2022</td>
                <td>15/06/2022</td>
                <td>Lorem Ipsum</td>
            </tr>
        </table>
    </div>

    <div class="main-card">
        <h4>Beneficiários</h4>
        <table>
            <tr>
                <th class="d-flex align-items-center">
                    <div>Nome</div>
                    <img class="img-icon" src="../../../assets/icons/arrow-down.svg" alt="">
                </th>
                <th class="d-flex align-items-center">
                    <div>Nascimento</div>
                    <img class="img-icon" src="../../../assets/icons/arrow-down.svg" alt="">
                </th>
                <th class="d-flex">Relacionamento</th>
                <th class="d-flex">Percentual</th>
                <th class="d-flex">Status do pagamento</th>
            </tr>
            <tr>
                <td>Lorem Ipsum</td>
                <td>28/01/2002</td>
                <td>Esposa(o) / Companheira(o)</td>
                <td>50%</td>
                <td>
                    <div class="status analysis">Em aprovação</div>
                </td>
            </tr>
            <tr>
                <td>Lorem Ipsum</td>
                <td>28/01/2002</td>
                <td>Filho</td>
                <td>25%</td>
                <td>
                    <div class="status analysis">Em aprovação</div>
                </td>
            </tr>
            <tr>
                <td>Lorem Ipsum3</td>
                <td>28/01/2002</td>
                <td>Filho</td>
                <td>25%</td>
                <td>
                    <div class="status analysis">Em aprovação</div>
                </td>
            </tr>
        </table>
    </div>
</main>