main {
    .header {
        margin-bottom: 32px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .title-with-description {
            margin-bottom: 16px;
            width: 100%;

            h1 {
                margin: 0 0 8px 0;
            }

            .description {
                font-size: 14px;
                color: var(--neutras-black-65);
                font-weight: 400;
            }

            .subtitle {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .menu-items {
                    color: var(--seguros-porto-seguros-100, #0046c0);
                    display: flex;
                    align-items: center;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    .messages {
                        display: flex;
                        align-items: center;
                        margin-right: 24px;
                        img {
                            margin-right: 8px;
                        }
                    }
                    .history {
                        display: flex;
                        align-items: center;
                        img {
                            margin-right: 8px;
                        }
                    }
                }
            }
        }
    }
    .status {
        border-radius: 8px;
        display: flex;
        padding: 4px 8px;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        width: fit-content;
        &.paid {
            background: var(--paleta-estendida-green-green-30, #c0f0d3);
            color: var(--paleta-estendida-green-green-100, #034d2e);
        }
        &.analysis {
            background: var(--paleta-estendida-yellow-yellow-30, #f8f6c2);
            color: var(--paleta-estendida-yellow-yellow-100, #94621f);
        }
        &.doc-pending {
            background: var(--paleta-estendida-violet-violet-30, #dbc7ff);
            color: var(--paleta-estendida-violet-violet-100, #48316d);
        }
        &.refused {
            background: var(--paleta-estendida-red-red-30, #ffcdc6);
            color: var(--paleta-estendida-red-red-100, #842310);
        }
    }

    .tabs {
        margin-top: 32px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 32px;
        cursor: pointer;
        border-bottom: 1px solid #e0e0e0;
        .tab {
            padding: 16px 26px;
            h2 {
                font-weight: 600;
                font-size: 20px;
                line-height: 24px;
                color: var(--gray);
                margin: 0;
            }
            &.tab-active {
                h2 {
                    font-weight: 700;
                    color: black;
                }
                border-bottom: 4px solid #0046c0;
            }
        }
    }
}
