<main>

     <div class="header">
       <div class="title-with-description">
            <h1>Aviso de Sinistro - Vida</h1>
            <span class="description">Para informar um sinistro, pesquise a apólice e informe os dados da
                ocorrência.</span>
        </div>

        <div class="help">
            <img class="icon-margin" src="../../../assets/icons/help.svg" alt="">
            <div>Tutorial</div>
        </div>
    </div>

    <div class="alert-card">
        <app-alert></app-alert>
    </div>

    <app-search></app-search> 
<!--     <app-policy-details></app-policy-details>
 -->

</main>