main {
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .title-with-description {
            margin-bottom: 16px;

            h1 {
                margin: 0 0 16px 0;
            }

            .description {
                font-size: 14px;
                color: var(--neutras-black-65);
                font-weight: 400;
                margin-bottom: 16px;
            }
        }
    }

    .alert-card {
        margin-bottom: 32px;
    }

    .help,
    .info {
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 600;
        color: var(--primary);
        cursor: pointer;
    }

    img {
        width: 20px;
        height: 20px;
    }




}